.inputContainer {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.4em;
}

.input {
  width: 30rem;
  height: 2.5em;
  background-color: #C1C7CC;
  border: 1px solid #ccc;
  padding: 8px 12px;
  font-size: 16px;
  outline: none;
  border-radius: 10px;
  font-size: 0.4em;
  font-family: "Roboto", sans-serif;
}
