.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Tourney", sans-serif;
  overflow-x: hidden;
}

.row {
  width: 100%;
}

.rowLines {
  width: 100%;
  height: 8em;
}

.logo {
  width: 18em;
}

.title {
  font-size: 8em;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.rowText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputs {
  font-size: 3em;
}

.btn {
  font-size: 2em;
  background: rgb(34, 129, 200);
  background: linear-gradient(76deg, rgba(34, 129, 200, 1) 0%, rgba(29, 79, 203, 1) 100%);
  height: 2em;
  width: 8em;
  padding: 0;
  text-shadow: 3px 4px 5px black;
  margin-top: 0.5em;
}

.greenDonutDiv {
  display: flex;
  justify-content: center;
}

.greenDonut {
  width: 12em;
  margin-left: 15em;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

.greenDonut2 {
  width: 12em;
  margin-left: 39em;
  position: fixed;
  bottom: 0;
  z-index: 0;
}

.shapes {
  padding: 0;
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.redSquare {
  position: fixed;
  right: 0;
  height: 1em;
  margin-top: 0.4em;
}

.greenCircle {
  height: 80%;
  z-index: 100;
  position: fixed;
  bottom: 0;
}

.purpleSquare {
  z-index: 200;
  transform: rotate(-24deg);
  position: absolute;
  left: 3em;
  height: 40%;
  top: 40%;
  animation: moveAnimationRight 14s ease-in-out infinite;
}

.blueStar {
  z-index: 300;
  height: 50%;
  position: absolute;
  left: 13em;
  top: 20%;
  animation: moveAnimationLeft 16s ease-in-out infinite;
}

.redLine {
  width: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.blueLine {
  width: auto;
  display: flex;
  margin-top: 4em;
}

.greenLine {
  width: auto;
  display: flex;
  margin-top: 2em;
}

.lineCyan {
  height: 2em;
  position: absolute;
  bottom: 25%;
  left: 0;
  animation: cyanLineMoving 10s ease-in-out infinite;
}

.lineLightGreen {
  height: 2em;
  position: absolute;
  bottom: 17%;
  left: 0;
  animation: cyanLineMoving 16s ease-in-out infinite;
}

.linePurple {
  height: 2em;
  position: absolute;
  bottom: 3%;
  left: 0;
  animation: cyanLineMoving 8s ease-in-out infinite;
  z-index: 1;
}

.lineRed {
  height: 1.5em;
  animation: redLineMoving 7s ease-in-out infinite;
}

.lineBlueGreen {
  height: 1.5em;
  position: fixed;
  left: 0;
  animation: greenBlueLineMoving 14s ease-in-out infinite;
}

@keyframes moveAnimationLeft {
  0% {
    transform: rotate(-90deg) translateX(0);
  }

  50% {
    transform: rotate(90deg) translateX(100px);
  }

  100% {
    transform: rotate(-90deg) translateX(0);
  }
}

@keyframes moveAnimationRight {
  0% {
    transform: rotate(90deg) translateX(0);
  }

  50% {
    transform: rotate(-90deg) translateX(100px);
  }

  100% {
    transform: rotate(90deg) translateX(0);
  }
}

@keyframes redLineMoving {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes greenBlueLineMoving {
  0% {
    transform: translateX(-50vw);
  }

  100% {
    transform: translateX(100vw);
  }
}

@keyframes cyanLineMoving {
  0% {
    transform: translateX(-50vw);
  }

  100% {
    transform: translateX(100vw);
  }
}

@keyframes purpleLineMoving {
  0% {
    transform: translateX(-50vw);
  }

  100% {
    transform: translateX(100vw);
  }
}

@media screen and (max-width: 991px) {
  .redSquare {
    display: none;
  }

  .greenCircle {
    display: none;
  }

  .purpleSquare {
    display: none;
  }

  .blueStar {
    display: none;
  }

  .blueLine {
    width: auto;
    display: flex;
    margin-top: 2.5em;
  }

  .greenLine {
    width: auto;
    display: flex;
    margin-top: 1em;
  }

  .rowLines {
    width: 100%;
    height: 4em;
  }

  .greenDonutDiv {
    display: none;
  }

  @keyframes greenBlueLineMoving {
    0% {
      transform: translateX(-100vw);
    }

    100% {
      transform: translateX(95vw);
    }
  }
}

@media screen and (max-width: 1399px) {
  .redSquare {
    display: none;
  }

  .greenCircle {
    display: none;
  }

  .purpleSquare {
    display: none;
  }

  .blueStar {
    display: none;
  }

  .blueLine {
    width: auto;
    display: flex;
    margin-top: 2.5em;
  }

  .greenLine {
    width: auto;
    display: flex;
    margin-top: 1em;
  }

  .rowLines {
    width: 100%;
    height: 4em;
  }

  .greenDonutDiv {
    display: none;
  }

  @keyframes greenBlueLineMoving {
    0% {
      transform: translateX(-70vw);
    }

    100% {
      transform: translateX(100vw);
    }
  }
}

@media screen and (max-width: 1485px) {
  .text {
    position: fixed;
    top: 1.5em;
  }
  .redSquare {
    display: none;
  }
}

@media screen and (max-width: 1500px) {
  .home {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 1832px) {
  .rowLines {
    width: 100%;
    height: 4em;
  }
  
  .blueLine {
    margin-top: 4em;
  }
  
  .greenLine {
    margin-top: 0.8em;
  }

  @keyframes greenBlueLineMoving {
    0% {
      transform: translateX(-70vw);
    }

    100% {
      transform: translateX(100vw);
    }
  }
}