.body {
    width: 70%;
    display: flex;
    align-items: center !important;
    position: fixed;
    top: 10%;
    z-index: 1000;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: "Tourney", sans-serif;
    text-align: center;
    align-items: center;
}

.button {
    z-index: 1000;
    margin-top: 5%;
    font-size: 1.5em;
    background-color: #02549F;
    border: 1px solid #02549F;
    border-radius: 13px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.border {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}
.title {
    font-size: 5em;
    font-weight: 600;
    background-color: red;
    color: white;
    border-radius: 15px;
    padding: 0.2em;
    width: 50%;
    text-align: center;
}

.text {
    margin-top: 1.5em;
    font-size: 2.5em;
}

 
.row {
    width: 100%;
}
  
.rowLines {
    width: 100%;
    height: 10em;
}
  
.redLine {
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
  
.blueLine {
    width: auto;
    display: flex;
    margin-top: 4em;
}
  
.greenLine {
    width: auto;
    display: flex;
    margin-top: 2em;
}
  
.lineCyan {
    height: 2em;
    position: absolute;
    bottom: 25%;
    left: 0;
    animation: cyanLineMoving 10s ease-in-out infinite;
}
  
.lineLightGreen {
    height: 2em;
    position: absolute;
    bottom: 17%;
    left: 0;
    animation: cyanLineMoving 16s ease-in-out infinite;
}
  
.linePurple {
    height: 2em;
    position: absolute;
    bottom: 3%;
    left: 0;
    animation: cyanLineMoving 8s ease-in-out infinite;
    z-index: 1;
}
  
.lineRed {
    height: 1.5em;
    animation: redLineMoving 7s ease-in-out infinite;
}
  
.lineBlueGreen {
    position: fixed;
    left: 0;
    height: 1.5em;
    animation: greenBlueLineMoving 10s ease-in-out infinite;
}
  
@keyframes redLineMoving {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-100%);
    }
}
  
@keyframes greenBlueLineMoving {
    0% {
      transform: translateX(-50vw);
    }
    100% {
      transform: translateX(100vw);
    }
}
  
@keyframes cyanLineMoving {
    0% {
      transform: translateX(-50vw);
    }
    100% {
      transform: translateX(100vw);
    }
}
  
@keyframes purpleLineMoving {
    0% {
      transform: translateX(-50vw);
    }
    100% {
      transform: translateX(100vw);
    }
}
  
@media screen and (max-width: 991px) {
    .blueLine {
      width: auto;
      display: flex;
      margin-top: 2.5em;
}
    
    .greenLine {
        width: auto;
        display: flex;
        margin-top: 1em;
    }
  
    .rowLines {
      width: 100%;
      height: 5em;
    }
  
    @keyframes greenBlueLineMoving {
      0% {
        transform: translateX(-100vw);
      }
      100% {
        transform: translateX(95vw);
      }
    }
}
  
@media screen and (max-width: 1399px) {
    .blueLine {
      width: auto;
      display: flex;
      margin-top: 2.5em;
    }
    
    .greenLine {
      width: auto;
      display: flex;
      margin-top: 1em;
    }
  
    .rowLines {
        width: 100%;
        height: 5em;
    }
  
    @keyframes greenBlueLineMoving {
        0% {
            transform: translateX(-70vw);
        }
        100% {
            transform: translateX(100vw);
        }
    }
}
  
@media screen and (max-width: 1832px) {
    @keyframes greenBlueLineMoving {
        0% {
            transform: translateX(-70vw);
        }
        100% {
            transform: translateX(100vw);
        }
    }
  }
  

